---
- name: "Set enforce to permissive on docker nodes to fix bug: https://bugzilla.redhat.com/show_bug.cgi?id=1398861"
  shell: "setenforce permissive"
- name: "Create docker-var"
  lvol: vg=vg_oscp lv=docker_var size=10g
- name: "Format docker-var disk"
  filesystem: fstype=xfs dev=/dev/mapper/vg_oscp-docker_var 
- name: "Mount docker-var volume"
  mount: name=/var/lib/docker src=/dev/mapper/vg_oscp-docker_var fstype=xfs opts=noatime state=mounted
- name: "Docker storage configuration" 
  copy: src=docker-storage-setup dest=/etc/sysconfig/docker-storage-setup
- name: "Set up docker storage"
  shell: "docker-storage-setup"


