StrictHostKeyChecking no
UserKnownHostsFile=/dev/null
UseRoaming no

#Cluster1
host rhos-master-1
hostname 10.23.13.11
user cloud-user

host rhos-master-2
hostname 10.23.13.12
user cloud-user

host rhos-master-3
hostname 10.23.13.13
user cloud-user

host rhos-cloudforms
hostname 10.23.13.14
user cloud-user

host rhos-approuter1
hostname 10.23.13.15
user cloud-user

host rhos-approuter2
hostname 10.23.13.16
user cloud-user

host rhos-appcontr-1
hostname 10.23.13.17
user cloud-user

host rhos-appcontr-2
hostname 10.23.13.18
user cloud-user

host rhos-appcontr-3
hostname 10.23.13.19
user cloud-user

#Cluster2
host c2-rhos-master-1
hostname 10.23.15.5
user ose

host c2-rhos-master-2
hostname 10.23.15.8
user ose

host c2-rhos-master-3
hostname 10.23.15.11
user ose

host c2-rhos-cloudforms
hostname 10.23.15.
user ose

host c2-rhos-approuter1
hostname 10.23.15.7
user ose

host c2-rhos-approuter2
hostname 10.23.15.10
user ose

host c2-rhos-appcontr-1
hostname 10.23.15.6
user ose

host c2-rhos-appcontr-2
hostname 10.23.15.9
user ose

host c2-rhos-appcontr-3
hostname 10.23.15.12
user ose
