---
- name: Set up LV
  lvol: vg=vg_ose lv=nfs size=100G

- name: "Set up Storage disks"
  filesystem: fstype=xfs dev=/dev/mapper/vg_ose-nfs

- name: "Mount volume"
  mount: name={{ose_storage_nfs_directory}} src=/dev/mapper/vg_ose-nfs fstype=xfs opts=noatime state=mounted

- name: "Install NFS server"
  yum: name={{ item }} state=latest
  with_items:
    - nfs-utils
    - libnfsidmap

- name: "Push NFS exports file"
  template: src=nfs_exports.j2 dest=/etc/exports

- name: "Ensure NFS configured"
  service: name=nfs-config state=started enabled=yes

- name: "Ensure NFS started"
  service: name=nfs-server state=started enabled=yes

- name: "Test to see if pv20 exists"
  shell: "oc get pv | grep pv20"
  register: pv_exist
  ignore_errors: True
  changed_when: "pv_exist.rc != 0"

- name: "Create PV Directories"
  file: path={{ose_storage_nfs_directory}}/pv/pv{{item}} owner=nfsnobody group=nfsnobody recurse=yes state=directory
  with_sequence: count=20

- name: "Push PV template file"
  template: src=persisted_storage.yaml.j2 dest=/tmp/pv-template.yaml

- name: "Copy create pv script"
  copy: src=create_pvs.sh dest=/tmp/create_pvs.sh

- name: "Create Registry PV"
  file: path={{ose_storage_nfs_directory}}/registry owner=nfsnobody group=nfsnobody recurse=yes state=directory

- name: "create pvs"
  shell: "bash create_pvs.sh" 
  args:
    chdir: '/tmp'
  when: pv_exist.rc == 1
