---
- name: Set up LV
  lvol: vg=vg_oscp lv=nfs size=100G

- name: "Set up Storage disks"
  filesystem: fstype=xfs dev=/dev/mapper/vg_oscp-nfs

- name: "Mount volume"
  mount: name={{oscp_storage_nfs_directory}} src=/dev/mapper/vg_oscp-nfs fstype=xfs opts=noatime state=mounted

- name: "Install NFS server"
  yum: name={{ item }} state=latest
  with_items:
    - nfs-utils
    - libnfsidmap

- name: "Configure Firewall to allow local traffic"
  iptables: chain=INPUT_direct source=10.0.0.0/8 jump=ACCEPT
#  shell: "systemctl stop firewalld.service"

- name: "Push NFS exports file"
  template: src=nfs_exports.j2 dest=/etc/exports

- name: "Ensure NFS configured"
  service: name=nfs-config state=started enabled=yes

- name: "Ensure NFS started"
  service: name=nfs-server state=started enabled=yes

- name: "Create PV Directories"
  file: path={{oscp_storage_nfs_directory}}/pv/pv{{item}} owner=nfsnobody group=nfsnobody recurse=yes state=directory
  with_sequence: count=20

- name: "Create Registry PV"
  file: path={{oscp_storage_nfs_directory}}/registry owner=nfsnobody group=nfsnobody recurse=yes state=directory
