$TTL 1D
@	IN SOA	@ temenos.cloud.local. (
					0	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum
; name servers
      IN      NS      ns1


; name Servers
ns1 IN A {{hostvars['formation1']['private_ip']}}

{% for host in groups['all'] %}
{{hostvars[host]['name']}}  IN  A {{hostvars[host]['private_ip']}}
{% endfor %}
