---
- name: Apache htpasswd file for openshift console
  copy: src=files/rhos-master-htpasswd dest=/etc/origin/master/htpasswd owner=root group=root mode=0644
- name: "Give admin user Admin rights"
  shell: "oadm policy add-cluster-role-to-user admin to admin"
  #Allows the registry to finish comming up
- pause: minutes=4
- name: "Test for registry running"
  shell: "oc get pods -l docker-registry -n default | grep -i running"
  register: registry_running
  ignore_errors: True
  changed_when: "registry_running.rc != 0"
- name: "Restart Registry deployment"
  shell: "oc deploy docker-registry --latest -n default"
  when: registry_running.rc == 1
- name: "Install Logging"
  include: logging.yml
- name: "Install Metrics"
  include: metrics.yml
