apiVersion: v1
kind: PersistentVolume
metadata:
  name: %pv
spec:
  capacity:
    storage: %size
  accessModes:
  - ReadWriteMany
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  nfs:
    path: {{oscp_storage_nfs_directory}}/pv/%pv
  {% for host in groups['tag_Type_master'] %}
  {% if loop.first %}
server: {{hostvars[host]['ec2_private_ip_address'] }}
  {% endif %}
  {% endfor %}
